.discuss {
	background: var(--primary-blue-100);

	&__inner {
		padding: 40px 0;
	}

	&-content {
		display: flex;
		justify-content: space-between;

		&__left {
			&-title {
				max-width: 613px;
			}
		}

		&__right {
			&-desc {
				padding-bottom: 20px;
				max-width: 432px;
				font-family: var(--font-family);
				font-weight: 400;
				font-size: 18px;
				line-height: 160%;
				color: var(--grayscale-lightray);
			}
		}
	}
}

